.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 5px solid #d1003b;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #34f44e;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #0e0e0e;
    background-color: #0d2fed;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}

h1{j joijpokopk